.logo {
  height: 128px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 2px;
}

.container-list {
  background: #e5e3e1;
  border-radius: 0.5rem;
}

.snack-item .card-content {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 4.5rem;
}
