.container {
  padding: 1em;
}

.snack-image {
  size: 0.5em;
}

.snack-description {
  vertical-align: middle;
}

.formatted-column {
  border-radius: 0.5rem;
  padding: 1em;
}

.qr-button {
  width: 8.6rem;
}

.floating-qr {
  position: absolute;
  top: 4rem;
  right: 9.25rem;
  border: 1px solid #eeeeee;
}

.supermarket-link {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.formatted-column {
  height: 100%;
  display: flex;
  align-items: center;
}
