body {
  min-height: 100vh;
  background-color: #d9cfc2;
  font-family: 'Rubik', sans-serif;
}

.title {
  font-family: 'Carter One', cursive;
  font-weight: 400;
}

.container {
  background-color: #ffffff;
}
