body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background-color: #edceb0;
  font-family: "Rubik", sans-serif;
}

#root {
  flex-grow: 1;
  min-height: 100%;
  background-color: #ffffff;
}

.hero,
footer {
  background: #ff9630;
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 600;
}

footer {
  padding: 0.5rem 0;
  -webkit-text-stroke-width: 0;
  font-size: 1em;
}

.title {
  color: inherit;
  font-size: 5em;
  font-family: "Carter One", cursive;
  font-weight: 400;
}

@media screen and (max-width: 639px) {
  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 1023px) {
  #root {
    max-width: 100%;
  }
}
